#sidebar{
   -fx-background-color: rgba(220, 56, 56, 1);
   -fx-background-radius: 0 15 15 0;
}

.root{
    -fx-background-color: #ffffff;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: rgba(220, 56, 56, 1);
    -fx-text-fill: rgba(220, 56, 56, 1);
    -fx-font-size: 15;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: rgba(220, 56, 56, 1);
    -fx-border-radius: 15px;
    -fx-text-fill: rgba(220, 56, 56, 1);
}

.button:hover {
    -fx-background-color: rgba(220, 56, 56, 1);
    -fx-border-color: rgba(220, 56, 56, 1);
    -fx-background-radius: 15;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

#delete {
   -fx-background-color: rgba(220, 56, 56, 1);
   -fx-border-color: rgba(220, 56, 56, 1);
   -fx-border-radius: 15px;
   -fx-background-radius: 15;
   -fx-text-fill: #ffffff;
}

#delete:hover {
       -fx-background-color: red;
       -fx-border-color: red;
       -fx-background-radius: 15;
       -fx-text-fill: #ffffff;
       -fx-cursor: hand;
   }

.label{
    -fx-text-fill: #ffffff;
}


.error {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: red;
    -fx-font-size: 14;
}

.mainLabels{
    -fx-text-fill: rgba(220, 56, 56, 1);
}

#logout {
    -fx-background-color: rgba(66, 151, 155, 0.5);
    -fx-background-radius: 0 0 15 0;
    -fx-border-color: transparent;
    -fx-text-fill: #ffffff;
}

#logout:hover {
    -fx-background-color: rgba(200, 151, 155, 0.5);
    -fx-background-radius: 0 0 15 0;
    -fx-border-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.combo-box {
    -fx-focus-color: transparent;
    -fx-background-insets: -1, -1, -1, -1;
}

.combo-box .list-cell {
    -fx-text-fill: white;
}

.combo-box-base .arrow-button {
    -fx-background-color: transparent;
}

.combo-box-base .arrow {
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
    -fx-background-color: white;
}

.combo-box-popup .list-view {
    -fx-effect: null;
}

.combo-box {
    -fx-background-color: rgba(220, 56, 56, 1);
    -fx-background-radius: 15;
}

.combo-box-popup .list-view {
    -fx-background-color: rgba(220, 56, 56, 1);
}

.combo-box-popup .list-view .list-cell:filled {
    -fx-background-color: rgba(220, 56, 56, 1);
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: rgba(220, 56, 56, 1);
}

.combo-box-base .list-view .cell  {
    -fx-background-color: rgba(220, 56, 56, 1);
}

.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: rgba(66, 151, 155, 0.5);
}

.text-area {
    -fx-background-color: rgba(220, 56, 56, 0.5);
    -fx-background-radius: 10;
    -fx-text-fill:  rgba(220, 56, 56, 1);
    -fx-font-size: 13;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: rgba(220, 56, 56, 1);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: rgba(220, 56, 56, 1);
}

.table-view .table-cell:odd{
    -fx-text-fill: #ffffff;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, rgba(220, 56, 56, 0.5);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, rgba(220, 56, 56, 0.8);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: rgba(220, 56, 56, 1);
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell:selected .table-cell{
    -fx-text-fill: #ffffff;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: rgba(220, 56, 56, 0.5);

}

.tab-pane .tab:selected
{
    -fx-background-color: rgba(220, 56, 56, 1);
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: rgba(220, 56, 56, 1);
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
}